<div class="main">
    <h2>Enter Details</h2>
    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" class="butt">

    </form>
</div>    
    
<style>
    .main{
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .box{
        width: 390px;
        height: 50px;
        border-radius: 10px;
        

    }
    .form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        
    }
    .butt{
        width: 150px;
        height: 40px;
        background-color: black;
        color: white;
        border-radius: 30px;
    }
</style>